.subgrid {
	grid-column: screen;
	display: grid;
	grid-template-columns: inherit;
	grid-template-rows: inherit;
	grid-column-gap: inherit;
	grid-row-gap: inherit;
}

d-figure.base-grid {
	grid-column: screen;
	background: hsl(0, 0%, 97%);
	padding: 20px 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

d-figure {
	margin-bottom: 1em;
	position: relative;
}

d-figure > figure {
	margin-top: 0;
	margin-bottom: 0;
}

.shaded-figure {
	background-color: hsl(0, 0%, 97%);
	border-top: 1px solid hsla(0, 0%, 0%, 0.1);
	border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
	padding: 30px 0;
}

.pointer {
	position: absolute;
	width: 26px;
	height: 26px;
	top: 26px;
	left: -48px;
}

#rebuttal,
.summary,
.rebuttal-summary,
#response-info {
	margin: 1em 0;
	padding: 1em;
	/* border-radius: 0.25em; */
}

.summary {
  margin-top: 18px;
  margin-bottom: 18px;
}

.rebuttal-summary {
  margin-top: 18px;
  margin-bottom: 32px;
}

h3 .author {
  font-weight: normal;
  color: #555;
  margin-left: 8px;
}

#rebuttal,
.rebuttal-summary,
#response-info{
	background-color: hsl(118, 50%, 97%);
	border-left: solid hsl(119, 50%, 25%) 3px;
	/* border-radius: 0.25em; */
}

.summary {
  background-color: hsl(228, 50%, 97%);
  border-left: solid hsl(229, 50%, 25%) 3px;
}
